* {
	margin: 0;
	padding: 0;
}
body{
display: flex;
	height: 100vh;
flex-direction: column;
align-items: center;

}
.wrapper{
	border-radius: 10px;
	text-align: center;
	margin-top: 5px;
	height: 7%;
	width: 90%;
	background: red;
}
.rulles{
 position: relative;
 margin-top: 0;
 height: 12%;
 width: 90%;
	
}
.main{
	height: 90%;
	width: 100%;
}
.button{
	height: 20px;
	width: 20px;
}

